
.resright, .resmid {
    display: block;
    margin: 30px;
    max-height: 300px;
    max-width: 500px;
}



body {
        background: black;
        color: white;
}

h1,h2,h3,h4 { text-align: center ; }

h1{ color: skyblue;}
h2{ color: yellow; font-size: 20pt;}
h3{ color: green;}

nav ul {
        background-color: skyblue;
    	background-color: rgb(12, 38, 48) !important;
        border-style: solid;
    	border-color: rgb(192, 21, 192) !important;
        border-width: 4px;
        padding: 15px;
        border-radius: 10px;
}
nav ul li{
        list-style-type: none;
        display: inline;
        margin-right: 20px;
        margin-left: 20px;
    	color: rgb(192, 21, 192) !important;
}
nav ul li a {
        text-decoration: none;
        color: skyblue;
}

